<% provide(:title, @list.title) %>
<div class="edge-position">
	<%= render 'home/nav_list' %>
	<div class="hr-postion">
	</div>
	<div class="edge-from">
		<ul>
			<% List.all.each do |list| %>
				<li><%= link_to list.title, list_path(list.id) %></li>
			<% end %>
		</ul>
	</div>
</div>
<div class="product-index">
	<div class="about-image">
		<% List.all.each do |list| %>
			<%= image_tag(list.image_url(:navshow)) if list.image? %>
		<% end %>
		</div>

	<div class="about-title">
			<h4><%= @list.title %></h4>
		<div class="breadcrumb">
			<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %>
		</div>
	</div>
	<div class="about-content">
		<table class="table">
			<% @list.guides.each do |guide| %>
				<tr>
					<td><%= link_to guide.title, guide_path(guide) %></td>
				</tr>
			<% end %>
		</table>
		</div>

</div>
