<%= render 'home/nav_list' %>
<div class="product-index">
	<h4>职位详细信息</h4>
	<div class="job-title">
		<%= @job.title %>
	</div>
	<div class="job-address">
		<%= @job.address %>
	</div>
	<div class="job-dapart">
		<%= @job.department %>
	</div>
	<div class="job-content">
		<%= raw @job.content %>
	</div>
</div>
