<%= render 'home/nav_list' %>
<div class="product-index">
	<%= form_for @server do |f| %>
		<%= render partial: 'lists/form', locals: {f: f} %>
		<div class="about-action">
		<%= f.submit "保存", class: "btn btn-success"%>
		<%= link_to "返回", servers_path,class: "btn btn-primary" %>
	</div>
<% end %>
</div>

