<% provide(:title, @server.title) %>
<div class="edge-position">
	<%= render 'home/nav_list'%>
	<div class="hr-postion">
	</div>
	<div class="edge-from">
		<% Server.all.each do |server| %>
			<ul>
				<li><%= link_to server.title, server_path(server.id) %></li>
			</ul>
		<% end %>
	</div>
</div>
<div class="product-index">
	<div class="link-product">
		<%= render 'server_images/link_server' %>
	</div>
	<div class="about-title">
		<h4><%= @server.title %></h4>
		<div class="breadcrumb">
		<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp/&nbsp') %>
	</div>
	</div>
	<div class="about-content">
		<table class="table">
		<% @zixuns.each do |zixun| %>
			<tr>
				<td><%= link_to zixun.title, zixun_path(zixun.id) %></td>
		</tr>
	<% end %>
</table>
<%= will_paginate @zixuns %>
	</div>
</div>
