<div class="product-index">
	<%= form_for [:admin,@case] do |f| %>
		<%= f.label "选择项目分类" %>
		<%= collection_select(:case, :item_id, Item.all, :id, :title) %>
		<div class="field">
			<%= f.label :image, "企业标志" %>
			<%= f.file_field :image %>
		</div>
		<%= render partial: "abouts/form", locals: {f: f} %>
		<% end %>
</div>
