<% provide(:title, @case.title) %>
<div class="edge-position">
	<%= render 'home/nav_list' %>
	<div class="edge-from">
		<ul>
			<% Item.all.each do |item| %>
				<li><%= link_to item.title, item_path(item.id) %></li>
			<% end %>
		</ul>
	</div>
</div>
<div class="product-index">
	<div class="about-title">
		<h4><%= @case.title %></h4>
		<div class="breadcrumb">
			<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %>
		</div>
	</div>
	<div class="about-content">
		<%= raw @case.content %>
	</div>
</div>
