<%= render 'home/nav_list' %>
<div class="product-index">
	<div class="video-title">
		<h4>视频列表
			<span>共有<%= Video.count %>个视频可播放</span>
		</h4>
	</div>
	<div class="video-paginate">
			<% @videos.each do |video| %>
				<div class="video-index">
					<%= link_to video_path(video) do %>
						<%= image_tag(video.product.image_url(:narmail)) %>
						<span><%= video.product.title %></span>
					<% end %>
				</div>
			<% end %>
	<%= will_paginate @videos %>

	</div>
</div>
