<% provide(:title, "服务中心") %>
<%= render 'home/nav_list' %>
<div class="product-index">
	<table class="table">
		<% @centers.each do |center| %>
			<tr>
				<td><%= link_to center.title, center_path(center) %></td>
				<td><%= center.updated_at.strftime("%Y-%m-%d:%H:%M:%S") %></td>
				<% if admin_signed_in? %>
				<td><%= link_to "编辑", edit_center_path(center) %></td>
				<td><%= link_to "删除", center, method: :delete, confirm: "Are you sure?" %></td>
			<% end %>
			</tr>
		<% end %>
	</table>
	<%= will_paginate @centers %>
	<% if admin_signed_in? %>
	<%= link_to "新增服务", new_center_path, class: "btn btn-primary" %>
<% end %>
</div>

