<% provide(:title, "服务中心") %>
<%= render 'home/nav_list' %>
<div class="product-index">
	<table class="table">
		<% @centers.each do |center| %>
			<tr>
				<% unless center.title == "售后服务" %>
				<td><%= link_to center.title, center_path(center) %></td>
				<td><%= center.updated_at.strftime("%Y-%m-%d:%H:%M:%S") %></td>
		<% end %>

			</tr>
		<% end %>
		<tr>
			<td><%= link_to "售后服务", aftermarkets_path %></td>
		</tr>
	</table>
	<%= will_paginate @centers %>
</div>

