<% provide(:title, @center.title) %>
<div class="edge-position">
	<%= render 'home/nav_list' %>
	<div class="hr-postion">
	</div>
	<div class="edge-from">
		<% Center.all.each do |center| %>
			<ul>
				<li><%= link_to center.title, center_path(center.id) %></li>
			</ul>
		<% end %>
	</div>
</div>
<div class="product-index">
	<div class="link-product">
		<%= render 'center_images/link_center' %>
	</div>
	<div class="about-title">
		<h4><%= @center.title %></h4>
		<div class="breadcrumb">
			<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %>
		</div>
	</div>
	<div class="about-content">
		<%= raw @center.content %>
	</div>
</div>
