<div class="dashboard-form">
	<div class="dashboard-left">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#one" data-toggle="tab">产品中心</a></li>
		<li class=""><a href="#two" data-toggle="tab">大类/分类管理</a></li>
		<li class=""><a href="#three" data-toggle="tab">订单管理</a></li>
		<li class=""><a href="#four" data-toggle="tab">导航图</a></li>
		<li class=""><a href="#five" data-toggle="tab">关于我们</a></li>
		<li class=""><a href="#six" data-toggle="tab">招聘信息</a></li>
		<li class=""><a href="#qi" data-toggle="tab">新闻资讯</a></li>
		<li class=""><a href="#ba" data-toggle="tab">资讯列表</a></li>
		<li class=""><a href="#jiu" data-toggle="tab">服务中心</a></li>
		<li class=""><a href="#shi" data-toggle="tab">售后服务</a></li>
		<li class=""><a href="#shiyi" data-toggle="tab">联系我们</a></li>
		<li class=""><a href="#shier" data-toggle="tab">采购指南</a></li>
		<li class=""><a href="#shisan" data-toggle="tab">指南列表</a></li>
		<li class=""><a href="#shisi" data-toggle="tab">支付方式</a></li>
		<li class=""><a href="#shiwu" data-toggle="tab">配送服务</a></li>
		<li class=""><a href="#shiliu" data-toggle="tab">项目案例</a></li>
		<li class=""><a href="#shiqi" data-toggle="tab">案例行业</a></li>
		<li class=""><a href="#shiba" data-toggle="tab">产品展示图</a></li>
		<li class=""><a href="#shijiu" data-toggle="tab">新闻咨询展示图</a></li>
		<li class=""><a href="#ershi" data-toggle="tab">服务中心展示图</a></li>
		<li class=""><a href="#ershiyi" data-toggle="tab">联系我们展示图</a></li>
		<li class=""><a href="#ershier" data-toggle="tab">大类展示图</a></li>
	<li class=""><a href="#ershisan" data-toggle="tab">二级分类展示图</a></li>
		<li class=""><a href="#ershisi" data-toggle="tab">首页关于展示图</a></li>
		<li class=""><a href="#ershiwu" data-toggle="tab">其他</a></li>


	</ul>
</div>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade active in" id="one">
		<%= render 'home/wice_grid' %>
			<%= link_to "增加产品", new_product_path, class: "btn btn-primary" %>
	</div>
	<div class="tab-pane fade" id="two">
		<table class="table">
			<% @categories.each do |cate| %>
				<tr>
					<td><%= link_to cate.name, category_path(cate) %></td>
					<td><%= link_to "编辑", edit_category_path(cate) %></td>
					<td><%= link_to "删除", cate, method: :delete, confirm: "确认删除" %></td>
				</tr>	
			<% end %>
		</table>
		<%= link_to "新增", new_category_path %>
	</div>
	<div class="tab-pane fade" id="three">
		<table class="table">
		<% @orders.each do |order| %>
			<tr>
				<td><%= link_to order.ordernumber, order_path(order) %></td>
				<td><%= order.company %></td>
				<td><%= order_sum(order) %></td>
			</tr>
		<% end %>
		</table>
	</div>
	<div class="tab-pane fade" id="four">
		<table class="table">
			<% @bananers.each do |ban| %>
				<tr>
					<td><%= image_tag(ban.image_url(:small)) %></td>
					<td><%= link_to "编辑", edit_bananer_path(ban) %></td>
					<td><%= link_to "删除", ban, method: :delete, confirm: "确认删除" %></td>
				</tr>
			<% end %>
		</table>
		<%= link_to "新增", new_bananer_path, class: "btn btn-primary" %>
	</div>
	<div class="tab-pane fade" id="five">
		<table class="table">
			<% @abouts.each do |about| %>
				<%= render 'home/form', object: about %>
			<% end %>
			</table>
			<%= link_to "增加",new_about_path,class: "btn btn-primary" %>
		</div>
<div class="tab-pane fade" id="six">
		<table class="table">
			<% @jobs.each do |job| %>
				<%= render 'home/form', object: job %>
			<% end %>
			</table>
	<%= link_to "增加",new_job_path,class: "btn btn-primary" %>

		</div>
<div class="tab-pane fade" id="qi">
		<table class="table">
			<% @servers.each do |server| %>
				<%= render 'home/form', object: server %>
			<% end %>
			</table>
				<%= link_to "增加",new_server_path,class: "btn btn-primary" %>

		</div>
<div class="tab-pane fade" id="ba">
		<table class="table">
			<% @zixuns.each do |server| %>
				<%= render 'home/form', object: server %>
			<% end %>
			</table>
	<%= link_to "增加",new_zixun_path,class: "btn btn-primary" %>

		</div>
<div class="tab-pane fade" id="jiu">
		<table class="table">
			<% @centers.each do |server| %>
				<%= render 'home/form', object: server %>
			<% end %>
		</table>
			<%= link_to "增加",new_center_path,class: "btn btn-primary" %>

		</div>
<div class="tab-pane fade" id="shi">
		<table class="table">
			<% @aftermarkets.each do |server| %>
				<%= render 'home/form', object: server %>
			<% end %>
			</table>
	<%= link_to "增加",new_aftermarket_path,class: "btn btn-primary" %>

		</div>

<div class="tab-pane fade" id="shiyi">
		<table class="table">
			<% @contact.each do |server| %>
				<%= render 'home/form', object: server %>
			<% end %>
			</table>
	<%= link_to "增加",new_contact_path,class: "btn btn-primary" %>
		</div>
<div class="tab-pane fade" id="shier">
		<table class="table">
			<% @lists.each do |server| %>
				<%= render 'home/form', object: server %>
			<% end %>
			</table>
	<%= link_to "增加",new_list_path,class: "btn btn-primary" %>
</div>
<div class="tab-pane fade" id="shisan">
		<table class="table">
			<% @guides.each do |server| %>
				<%= render 'home/form', object: server %>
			<% end %>
			</table>
	<%= link_to "增加",new_guide_path,class: "btn btn-primary" %>
</div>
<div class="tab-pane fade" id="shisi">
		<table class="table">
			<% @payments.each do |server| %>
				<%= render 'home/form', object: server %>
			<% end %>
			</table>
	<%= link_to "增加",new_payment_path,class: "btn btn-primary" %>
</div>
<div class="tab-pane fade" id="shiwu">
		<table class="table">
			<% @ships.each do |server| %>
				<%= render 'home/form', object: server %>
			<% end %>
			</table>
	<%= link_to "增加",new_ship_path,class: "btn btn-primary" %>
</div>
<div class="tab-pane fade" id="shiliu">
		<table class="table">
			<% @items.each do |server| %>
				<%= render 'home/form', object: server %>
			<% end %>
			</table>
	<%= link_to "增加",new_item_path,class: "btn btn-primary" %>
</div>
<div class="tab-pane fade" id="shiqi">
		<table class="table">
			<% @cases.each do |server| %>
				<%= render 'home/form', object: server %>
			<% end %>
			</table>
	<%= link_to "增加",new_case_path,class: "btn btn-primary" %>
</div>
<div class="tab-pane fade" id="shiba">
		<table class="table">
			<% @product_images.each do |image| %>
				<tr>
					<td><%= link_to image.url,edit_product_image_path(image) %></td>
					<td><%= link_to edit_product_image_path(image) do %>
							<%= image_tag(image.image_url(:small)) if image.image? %>
						<% end %>
						</td>
					<td><%= link_to "删除", image, method: :delete, confirm: "确认删除" %></td>
				</tr>
			<% end %>
			</table>
	<%= link_to "增加",new_product_image_path,class: "btn btn-primary" %>
</div>
<div class="tab-pane fade" id="shijiu">
		<table class="table">
			<% @server_images.each do |server| %>
				<tr>
					<td><%= link_to server.url,edit_server_image_path(server) %></td>
					<td><%= link_to edit_server_image_path(server) do %>
							<%= image_tag(server.image_url(:small)) if server.image? %>
						<% end %>
						</td>
					<td><%= link_to "删除", server, method: :delete, confirm: "确认删除" %></td>
				</tr>
			<% end %>
			</table>
	<%= link_to "增加",new_server_image_path,class: "btn btn-primary" %>
</div>
<div class="tab-pane fade" id="ershi">
		<table class="table">
			<% @center_images.each do |image| %>
				<tr>
					<td><%= link_to image.url,edit_center_image_path(image) %></td>
					<td><%= link_to edit_center_image_path(image) do %>
							<%= image_tag(image.image_url(:small)) if image.image? %>
						<% end %>
						</td>
					<td><%= link_to "删除", image, method: :delete, confirm: "确认删除" %></td>
				</tr>
			<% end %>
			</table>
	<%= link_to "增加",new_center_image_path,class: "btn btn-primary" %>
</div>

<div class="tab-pane fade" id="ershiyi">
		<table class="table">
			<% @contact_images.each do |image| %>
				<tr>
					<td><%= link_to image.url,edit_contact_image_path(image) %></td>
					<td><%= link_to edit_contact_image_path(image) do %>
							<%= image_tag(image.image_url(:small)) if image.image? %>
						<% end %>
						</td>
					<td><%= link_to "删除", image, method: :delete, confirm: "确认删除" %></td>
				</tr>
			<% end %>
			</table>
	<%= link_to "增加",new_contact_image_path,class: "btn btn-primary" %>
</div>




</div>

</div>
