<div class="index-about">
	<ul class="thumbnails">
		<li class="span4">
		<div class="thumbnail">
			<div class="about-title">
				<% About.limit(1).each do |about| %>
					<span><%= link_to "关于我们 >>", about_path(about) %></span>
				<% end %>
			</div>
			<div class="about-info">
			<% About.all.each do |about| %>
				<span><%= image_tag(about.photo_url(:navshow)) if about.photo? %></span>
				<span class="info-about"><%= raw (truncate(about.info, length: 280))%></span>
			<% end %>
				<%= link_to "了解更多>>", abouts_path %>
		</div>
		</div>
		</li>
		<li class="span4">
		<div class="thumbnail">
			<div class="about-title">
				<% Server.limit(1).each do |server| %>
					<span><%= link_to "新闻中心 >>", server_path(server) %></span>
				<% end %>
			</div>
			<div class="about-zixun">
				<table class="table">
					<% @zixuns.each do |zixun| %>
						<tr>
							<td><%= link_to zixun.title, zixun_path(zixun) %></td>
							<td><%= time_ago_in_words(zixun.created_at) %>前</td>
						</tr>
					<% end %>
				</table>
				<%= will_paginate @zixuns %>
			</div>
		</div>
		</li>
		<li class="span4">
		<div class="thumbnail">
			<div class="about-title">
				<span><%= link_to "免费索取工业设备  >>", new_catelog_path %></span>
			</div>
			<% Catelog.all.each do |cate| %>
				<%= image_tag(cate.image_url) if cate.image? %>	
			<% end %>
					</div>
		</li>
	</ul>
</div>
