<div class="list-nav">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="product-menu"><span>产品目录<span>&gt&gt</span></span></li>
					<li class="active index"><%= link_to t('.index'), root_path %></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('.about') %></a>
					<ul class="dropdown-menu">
						<% About.limit(5).each do |about| %>
							<li><%= link_to about.title, about_path(about.id) %></li>
						<% end %>
					</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('.products') %></a>
					<ul class="dropdown-menu">
						<li><%= link_to t('.product'), products_path %></li>
						<li><a href="#">视频展示</a></li>

					</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('.new') %></a>
					<ul class="dropdown-menu">
						<% Server.limit(3).each do |server| %>
							<li><%= link_to server.title, server_path(server.id) %></li>
						<% end %>
					</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('.server') %></a>
					<ul class="dropdown-menu">
					<% Center.limit(4).each do |center| %>
						<li><%= link_to center.title, center_path(center.id) %></li>
					<% end %>
					</ul>
					</li>

					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('.contact') %></a>
					<ul class="dropdown-menu">
						<li><%= link_to "联系我们", "#" %></li>
						<li><a href="#">Anthor</a></li>
					</ul>
					</li>
				</ul>
				<form action="/search" method="get" class="navbar-form pull-right">
					<input type="text" name="q" value="" class="serach-query" placeholder="输入产品名称或者货号">
					<button type="submit" class="btn">搜素</button>
					<span class="cart-img"><%= link_to image_tag("cart.png",alt: "购物车"), cart_path %></span>
					<span class="number-cart"><img src="/assets/number.png"/><b><%= @cart.total_items %></b>
					</span>
					<%= render 'carts/cart_item' %>
				</form>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>

