<div class="bs-doc-image nav-collapse collapse">
	<% Category.find(1,4,5).each do |cate| %>
		<ul id="myTab" class="nav nav-tabs">
			<li class="tab-tag"><span><%= link_to cate.name, category_path(cate.id) %> <span>>></span></span></li>
			<% cate.tags.each do |tag| %>
				<li class=""><a href="#<%= tag.name %>" data-toggle="tab"><%= tag.name %></a></li>
			<% end %>
		</ul>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in">
			<ul class="thumbnails">
				<% if cate.tags.length > 5 %>
					<% cate.products.limit(10).each do |product| %>
						<%= render partial: "products/index", locals: {product: product} %>
					<%end %>
				<% else %>
					<% cate.products.limit(5).each do |product| %>
						<%= render partial: "products/index", locals: {product: product} %>
					<% end %>
				<% end %>
			</ul>
		</div>
		<% cate.tags.each do |tag| %>
			<div class="tab-pane fade in" id="<%= tag.name %>">
				<ul class="thumbnails">
					<li class="pending link-product"><%= link_to "查看更多 >>", products_path(t:tag) %></li>
					<% tag.products.limit(5).each do |product| %>
						<%= render partial: "products/index", locals: {product: product} %>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
<% end %>
</div>
<%= render 'home/index_about' %>
