<div class="dashboard-form">
	<div class="dashboard-left">
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#one" data-toggle="tab">产品中心</a></li>
		<li class=""><a href="#two" data-toggle="tab">大类/分类管理</a></li>
		<li class=""><a href="#three" data-toggle="tab">订单管理</a></li>
		<li class=""><a href="#four" data-toggle="tab">导航图</a></li>
		<li class=""><a href="#five" data-toggle="tab">关于我们</a></li>
		<li class=""><a href="#six" data-toggle="tab">招聘信息</a></li>
	</ul>
</div>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade active in" id="one">
		<table class="table">
			<% @products.each do |product| %>
				<tr>
					<td><%= link_to product.title, product_path(product) %></td>
					<td><%= image_tag(product.photos.first.image_url(:small)) %></td>
					<td><%= link_to "编辑", edit_product_path(product) %></td>
					<td><%= link_to "删除", product, method: :delete, confirm: "确认删除" %></td>
				</tr>
			<% end %>
		</table>
		<%= will_paginate @products %>
		<%= link_to "增加产品", new_product_path, class: "btn btn-primary" %>
	</div>
	<div class="tab-pane fade" id="two">
		<table class="table">
			<% @categories.each do |cate| %>
				<tr>
					<td><%= link_to cate.name, category_path(cate) %></td>
					<td><%= link_to "编辑", edit_category_path(cate) %></td>
					<td><%= link_to "删除", cate, method: :delete, confirm: "确认删除" %></td>
				</tr>	
			<% end %>
		</table>
	</div>
	<div class="tab-pane fade" id="three">
		<table class="table">
		<% @orders.each do |order| %>
			<tr>
				<td><%= link_to order.ordernumber, order_path(order) %></td>
				<td><%= order.company %></td>
				<td><%= order_sum(order) %></td>
			</tr>
		<% end %>
		</table>
	</div>
	<div class="tab-pane fade" id="four">
		<table class="table">
			<% @bananers.each do |ban| %>
				<tr>
					<td><%= link_to image_tag(ban.image_url(:small)) %></td>
					<td><%= link_to "编辑", edit_bananer_path(ban) %></td>
					<td><%= link_to "删除", ban, method: :delete, confirm: "确认删除" %></td>
				</tr>
			<% end %>
		</table>
		<%= link_to "新增", new_bananer_path, class: "btn btn-primary" %>
	</div>
</div>

</div>
