<div class="flexslider">
<ul class="slides">
			<% Bananer.all.each do |bananer| %>
				<li>
				<%= link_to bananer.button do %>
				<%= image_tag(bananer.image_url) if bananer.image?%></li>
			<%end %>
			<% end %>
			</ul>
	</div>
<div class="mobile-cate">
<b>产品分类:</b>
<ul>
<% Category.limit(8).each do |cate| %>
	<li><%= link_to category_path(cate) do %>
	<%= image_tag(cate.image_url(:micro)) %>
	<%= cate.name %>
<% end %>
</li>
<% end %>
</ul>
</div>
<div class="mobile-product">
<b>免费申请产品手册:</b>
<ul>
<% CatelogImage.limit(1).each do |cate| %>
	<li><%= link_to image_tag(cate.image_url), new_catelog_path %></li>
<% end %>
	</ul>
	</div>


