<div class="flexslider">
<ul class="slides">
			<% Bananer.all.each do |bananer| %>
				<li>
				<%= link_to bananer.button do %>
				<%= image_tag(bananer.image_url) if bananer.image?%></li>
			<%end %>
			<% end %>
			</ul>
	</div>
	<ul class="mobile_tags">
	<li><%= link_to products_path do %>
	<i class="icon-tags"></i>产品中心
<% end %>
<li>
<%= link_to new_catelog_path do %>
	<i class="icon-book"></i>
	申请样册
<% end %>
</li>
</ul>
<div class="mobile-cate">
<b>产品分类:</b>
<ul>
<% Category.limit(8).each do |cate| %>
	<li><%= link_to category_path(cate) do %>
	<%= image_tag(cate.image_url(:micro)) %>
	<%= cate.name %>
<% end %>
</li>
<% end %>
</ul>
</div>

