<div class="order-form">
	<% @order.line_items.build %>
<%= nested_form_for(@order) do |f| %>
	<table class="table number-order">
		<% @cart.line_items.each do |line| %>
			<tr>
			<td><%= line.product.title %></td>
			<td>
				<% line.productnumbers.each do |ph| %>
					<%= ph.number %>
				<% end %>
			</td>
			<td>
				<%= line.quantity %>
			</td>
<td>
	<%= link_to "删除", [line.product, line], method: :delete, confirm: "Are you sure?", class: "btn btn-mini btn-danger" %>
</td>
</tr>
<% end %>
</table>
	<div class="field ordernumber">
		<%= f.label :ordernumber %>
			<%= f.text_field :ordernumber, value: Time.now.strftime("%y%m%d%H%M%S"), readonly: true%>
	</div>
	<br />
	<div class="order-form1">
	<div class="field">
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>
	<br />

	<div class="field">
		<%= f.label :company %>
		<%= f.text_field :company %>

	<br />
	</div>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :phone %>
		<%= f.telephone_field :phone %>
	</div>
	<div class="field">
		<%= f.label :address %>
		<%= f.text_field :address %>
	</div>
</div>
	<div class="field content-text">
		<%= f.label :content %>
		<%= f.text_area :content, rows: 5 %>
	</div>
	<div class="action">
		<%= f.submit t('.saveorder'), class: "btn btn-success" %>
	</div>
<% end %>
</div>
