<%= render 'home/nav_list' %>
<div class="order-form product-index2">
	<% @order.line_items.build %>
<%= nested_form_for(@order) do |f| %>
	<table class="table number-order">
		<% @cart.line_items.each do |line| %>
			<tr>
			<td><%= line.product.title %></td>
			<td>
				<% line.productnumbers.each do |ph| %>
					<%= ph.number %>
				<% end %>
			</td>
			<td>
				<%= line.quantity %>
			</td>
<td>
	<%= link_to "删除", [line.product, line], method: :delete, confirm: "Are you sure?", class: "btn btn-mini btn-danger" %>
</td>
</tr>
<% end %>
</table>
	<div class="field ordernumber">
		<%= f.label t('.ordernumber') %>
			<%= f.text_field :ordernumber, value: Time.now.strftime("%y%m%d%H%M%S"), readonly: true%>
	</div>
	<br />
	<div class="order-form1">
	<div class="field">
		<%= f.label t('.email') %>
		<%= f.email_field :email %>
	</div>
	<br />

	<div class="field">
		<%= f.label t('.company') %>
		<%= f.text_field :company %>

	<br />
	</div>

	<div class="field">
		<%= f.label t('.name') %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label t('.phone') %>
		<%= f.telephone_field :phone %>
	</div>
	<div class="field field-address">
		<%= f.label t('.address') %>
		<div class="field-address">
		<%= collection_select(:order, :province_id, Province.all, :id, :name) %>
		<%= grouped_collection_select(:order,:city_id, Province.all, :cities, :id, :id, :name) %>
		<%= grouped_collection_select(:order, :district_id, City.all, :districts, :id, :id, :name) %>
		</div>
	</div>
	<div class="field">
		<%= f.label t('.detail') %>
		<%= f.text_field :address %>
	</div>
</div>
	<div class="field content-text">
		<%= f.label t('.content') %>
		<%= f.text_area :content, rows: 5 %>
	</div>
	<div class="action">
				<%= f.submit t('.saveorder'), class: "btn btn-success" %>
<%= link_to t('.back'), products_path %>

	</div>
<% end %>
</div>
