<table class="table">
	<tr>
		<td>订单号</td>
		<td>订单数量</td>
		<td>公司名称</td>
		<td>地址</td>
		<td>联系人</td>
	</tr>
	<% @orders.each do |order| %>
		<tr>
			<td><%= link_to order.ordernumber, order_path(order) %></td>
			<td><%= order_sum(order) %></td>
			<td><%= order.company %></td>
			<td><%= order.address %></td>
			<td><%= order.name %></td>
			<td><%= link_to "删除", order, method: :delete, confirm: "Are you sure?" %>
			</tr>
		<% end %>
	</table>	
