<% provide(:title, @contact.title) %>
<div class="edge-position">
	<%= render 'home/nav_list' %>
	<div class="hr-postion">
	</div>
	<div class="edge-from">
		<% Contact.all.each do |contact| %>
			<ul>
				<li><%= link_to contact.title, contact_path(contact.id) %></li>
			</ul>
		<% end %>
	</div>
</div>
<div class="product-index">
	<div class="about-title">
		<h4><%= @contact.title %></h4>
		<div class="breadcrumb">
			<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %>
		</div>
	</div>
	<div class="about-content">
		<%= raw @contact.content %>
		<% if @contact.id == 2 %>
			<div class="contact-join">
				<%= render 'affiliates/form' %>
			</div>
		<% elsif  @contact.id == 3 %>
			<div class="contact-contact">
				<%= render 'messages/form' %>
			</div>
		<% end %>
	</div>
</div>
