<% provide(:title, "购物车") %>
<%= render 'products/nav_list' %>
<div class="product-cart">
	<table class="table">
		<% innumber.each  do |item| %>
			<tr>
				<td>
					<% item.productnumbers.each do |ph| %>
						<%= link_to ph.number, product_path(item.product.id) %>
					<% end %>
					</td>
				<td>
					<%= item.product.title %>
				</td>
				<td>
					<%= form_for [item.product, item]  do |f| %>
					<%= f.number_field :quantity,min: 1, max: 10 %>
					<%= f.submit "刷新", class: "btn btn-mini btn-success" %>
				<% end %>
				</td>
				<td>
					<%= link_to "删除", [item.product, item], method: :delete, confirm: "Are you sure" %>
				</td>
			</tr>

		<% end %>
				</table>
				<%= button_to "创建询价单", new_order_path, method: :get, class: "btn  btn-success" %>
</div>
