<%= render 'products/nav_list' %>
<div class="product-cart">
	<table class="table">
		<% innumber.each  do |item| %>
			<tr>
				<td>
					<% item.productnumbers.each do |ph| %>
						<%= ph.number %>,
					<% end %>
					</td>
				<td>
					<%= item.product.title %>
				</td>
				<td>
					<%= number_field_tag item.quantity, item.quantity %>
				</td>
				<td>
					<%= link_to "删除", [item.product, item], method: :delete, confirm: "Are you sure" %>
				</td>
			</tr>

		<% end %>
				</table>
</div>
