			<div class="field">
			<%= f.label :url, "链接地址" %>
			<%= f.text_field :url %>
		</div>
		<div class="field">
			<%= f.label :image, "上传产品页展示" %>
			<%= image_tag(object.image_url(:small)) if object.image? %>
			<%= f.file_field :image %>
		</div>
		<div class="action">
			<%= f.submit "上传", class: "btn btn-primary btn-success" %>
			<%= link_to "返回", :back, class: "btn btn-success" %>
		</div>

