<div class="field">
	<%= f.label :title, "标题" %>
	<%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :content, "内容" %>
	<%= f.kindeditor :content, width: 900, height: 300%>
</div>
	<div class="about-action">
			<%= f.submit '保存', class: "btn btn-success" %>
			<%= link_to "返回", :back, class: "btn btn-primary" %>
		</div>

