<% provide(:title, @about.title) %>
<div class="edge-position">
<%= render 'home/nav_list' %>
<div class="edge-from">
	<% About.all.each do |about| %>
		<ul>
			<li><%= link_to about.title, about_path(about.id) %></li>
		</ul>
	<% end %>
</div>
</div>
<div class="product-index">
	<div class="about-title">
		<h4><%= @about.title %></h4>
		<div class="breadcrumb">
	<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %>
</div>
	</div>
	<div class="about-content">
		<%= raw @about.content %>
		<% if @about.id == 4 %>
			<%= render 'jobs/index' %>
		<% end %>
	</div>
</div>
