<%= render 'home/nav_list' %>
<div class="product-index">
	<table class="table">
		<% @ships.each do |ship| %>
			<tr>
				<td><%= link_to ship.title, ship_path(ship) %></td>
				<td><%= link_to "编辑", edit_ship_path(ship) %></td>
				<td><%= link_to "删除", ship, method: :delete, confirm: "确认删除" %></td>
			</tr>
					<% end %>
	</table>
	<%= will_paginate @ships %>
	<%= link_to "新增配送服务", new_ship_path, class: "btn btn-primary" %>
</div>
			
