<%= render 'home/nav_list' %>
<div class="product-index">
	<%= form_for @ship do |f| %>
		<%= render partial: "abouts/form", locals: {f: f} %>
		<div class="about-action">
			<%= f.submit "保存", class: "btn btn-success" %>
			<%= link_to "返回", :back, class: "btn btn-success"%>
		</div>
	<% end %>
</div>
