<%= render 'home/nav_list' %>
<div class="product-index">
<%= nested_form_for @category do |f| %>
	<%= render 'home/error_message', object: f.object %>
	<div class="field">
		<%= f.label :name,"大类名称" %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :image, "插入图标" %>
		<%= image_tag(@category.image_url(:small)) if @category.image? %>
		<%= f.file_field :image %>	
	</div>
	<div class="field">
	<%= f.label :tags, "二级分类" %>
	<%= f.fields_for :tags do |tag_form| %>
		<div class="field">
		<%= tag_form.label :image, "图标" %>
		<% tag = tag_form.object %>
		<%= image_tag(tag.image_url(:small)) if tag.image? %>	
		<%= tag_form.file_field :image %>
		<%= tag_form.text_field :name %>
		<%= tag_form.link_to_remove "删除" %>
	</div>
	<% end %>
	<p>
	<%= f.link_to_add "添加二级分类", :tags, class: "btn btn-primary" %>
	</p>
</div>
	<div class="action">
		<%= f.submit "保存", class: "btn btn-success"%>
		<%= link_to "返回", dashboard_path, class: "btn btn-primary" %>
	</div>
<% end %>
</div>
