<% provide(:title, @category.name) %>
<%= render 'home/nav_list' %>
	<div class="product-index">
		<% if admin_signed_in? %>
			<%= render 'edit_form' %>
		<%else %>
		<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %> 
		<ul class="thumbnails">
			<% @products.each do |product| %>
				<%= render partial: 'products/index', locals:{product: product} %>
<% end %>
		</ul>

		<%= will_paginate @products, class: "pagination pagination-centered"%>
	<% end %>
	</div>

