<tr>
	<td><%= cate.created_at.strftime("%Y-%m-%d:%H:%M")%></td>
	<td><%= link_to cate.company, catelog_path(cate) %></td>
	<td><%= cate.name %></td>
	<td><%= cate.mobel %></td>
	<td><%= cate.province.name %><%= cate.city.name %>
		<%= cate.district.name%>
	</td>
	<td>
		<% if !cate.deal? %>
			<%= link_to "待处理", catelog_path(cate.id), class: "btn btn-mini btn-danger" %>
		<% else %>
			<span class="deal-color">已处理</span>
		<% end %>
	</tr>
