<%= render 'home/nav_list' %>
<div class="product-index">
	<%= form_for @guide do |f| %>
		<%= f.label "选择分类"%>
		<%= collection_select(:guide, :list_id, List.all, :id,:title) %>
		<%= render partial: 'abouts/form', locals: {f: f} %>
		<div class="about-action">
			<%= f.submit "更新", class: 'btn btn-success'%>
			<%= link_to "返回", :back %>
		</div>
	<% end %>
</div>

