<% provide(:title, @guide.title) %>
<%= render 'home/nav_list' %>
<div class="product-index">	
		<div class="about-image">
	<% List.all.each do |list| %>
			<%= image_tag(list.image_url(:navshow)) if list.image? %>
		<% end %>
		</div>

	<div class="about-title">
		<h4><%= @guide.title %></h4>
		<div class="breadcrumb">
			<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %>
		</div>
	</div>
		<div class="about-content">
			<%= raw @guide.content %>
		</div>
		<div class="zixun-page">	
			<span class="page-one">上一篇
				<%= link_to @guide.previous.title, guide_path(@guide.previous.id) unless @guide.previous.nil? %>
			</span>
			<span class="page-two">下一篇
				<%= link_to @guide.next.title, guide_path(@guide.next.id) unless @guide.next.nil? %>
			</span>
		</div>
	</div>
