<li class="span3">
<div class="thumbnail">
	<div class="product-image">
		<%= link_to product_path(product) do%>
			<%= image_tag(product.image_url(:narmail)) if product.image? %>
		<% end %>
		</div>
	<h6><%= product.title %></h6>
	<div class="product-outline">
		<%= sanitize(product.outline) %>
	</div>
	<div class="link-product2">
			<%= link_to "更多详情 >>", product_path(product.id) %>
	</div>
</div>
</li>

