<% provide(:title, "产品中心")%>
<div class="edge-position">
<%= render 'home/nav_list' %>
<div class="hr-postion">
</div>
<div class="edge-from edge-from1">
	<%= render 'tag' %>
</div>
</div>
<div class="product-index">
	<div class="link-product">
		<% unless params[:t] %>
		<%= render 'product_images/link_product' %>
	<% else %>
		<%= render 'products/tag_image' %>
	<% end %>
		</div>
		<div class="about-title">
			<div class="breadrcumb">
			<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %>
		</div>
		</div>
		<ul class="thumbnails">
		<% @products.each do |product| %>
			<%= render partial: 'products/index', locals: {product: product} %>
		<% end %>
			</ul>
	<%= will_paginate @products, class: "pagination pagination-centered"%>
</div>
