<% provide(:title, "产品中心")%>
<div class="edge-position">
<%= render 'products/nav_list' %>
<div class="hr-postion">
</div>
<div class="edge-from edge-from1">
	<div class="view_font">
		<span>更多分类产品</span>
	</div>
	<%= render 'tag' %>
</div>
</div>
<div class="product-index">
	<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %>
	<div class="link-product">
		<%= render 'product_images/link_product' %>
		</div>
		<ul class="thumbnails">
		<% @products.each do |product| %>
			<%= render partial: 'products/index', locals: {product: product} %>
		<% end %>
			</ul>
			<% if admin_signed_in? %>
	<%= link_to '新增产品',new_product_path, class: "btn btn-primary" %>
<% end %>
	<%= will_paginate @products, class: "pagination pagination-centered"%>
</div>
