<% provide(:title, @product.title) %>
<%= render 'home/nav_list' %>
<div class="show-product">
	<div class="product">
		<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %>
		<% if admin_signed_in? %>
		<%= link_to edit_product_path(@product), class: "btn product-link" do%>
			编辑  <i class="icon-pencil"></i>
		<% end %>
	<% end %>
	</div>
	<%= render 'products/imagezoom' %>
	<%= render 'products/description' %>
	<%= render 'products/product_info' %>
	<div class="product-process">
		<%= link_to "更多同类产品", category_path(@product.category.id), class: "btn btn-large btn-primary" %>
		<ul class="thumbnails">
			<% Category.all.each do |cate| %>
				<% if cate.id == @product.category.id %>
					<% cate.products.limit(4).each do |product| %>
						<%= render partial: 'products/index', locals: {product: product} %>
					<% end %>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>

