<% provide(:title, @product.title) %>
<%= render 'home/nav_list' %>
<div class="show-product">
	<div class="product">
		<%= render_navigation(renderer: :breadcrumbs, join_with: '&nbsp / &nbsp') %>
		<% if admin_signed_in? %>
		<%= link_to edit_product_path(@product), class: "btn product-link" do%>
			编辑  <i class="icon-pencil"></i>
		<% end %>
	<% end %>
	</div>
	<%= render 'products/imagezoom' %>
	<%= render 'products/description' %>
	<%= render 'products/product_info' %>
</div>

