<div class="footer">
	<div class="container">
		<div class="footer-center">
			<span>
				<%= image_tag("logo/sixicon.png") %>
			</span>
			<div class="list-nav">
				<h4>产品中心</h4>
				<ul>
					<% Category.limit(2).each do |cate| %>
						<li><%= link_to cate.name, category_path(cate.id) %></li>
					<% end %>
				</ul>
			</div>
			<div class="list-nav">
				<h4>采购指南</h4>
				<ul>
					<li><%= link_to "高空搬运设备", categories_path %></li>
					<li><%= link_to "搬运设备", "#" %></li>
					<li><%= link_to "清洁设备", "#" %></li>
					<li><%= link_to "车间设备", "#" %></li>
					<li><%= link_to "产品应用","#" %></li>
				</ul>
			</div>
			<div class="list-nav">
				<h4>支付方式</h4>
				<ul>
					<li><%= link_to "款到发货", "#" %></li>
					<li><%= link_to "银行转账", "#" %></li>
					<li><%= link_to "分期付款", "#" %></li>
					<li><%= link_to "信用赊账", "#" %></li>
				</ul>
			</div>
			<div class="list-nav">
				<h4>配送服务</h4>
				<ul>
					<li><%= link_to "上门自提", "#" %></li>
					<li><%= link_to "免收运费", "#" %></li>
					<li><%= link_to "代办运输", "#" %></li>
					<li><%= link_to "交货期", "#" %></li>

				</ul>
			</div>
			<div class="list-nav">
				<h4>售后服务</h4>
				<ul>
					<li><%= link_to "售后政策", "#" %></li>
					<li><%= link_to "在线保修", "#" %></li>
					<li><%= link_to "培训信息", "#" %></li>
					<li><%= link_to "维修站查询", "#" %></li>
					<li><%= link_to "发票", "#" %></li>
					<li><%= link_to "退货与换货", "#" %></li>
					<li><%= link_to "退款", "#" %></li>
				</ul>
			</div>
			<div class="list-nav">
				<h4>项目案例</h4>
				<ul>
					<li><%= link_to "物流运输", "#" %></li>
					<li><%= link_to "服务行业", "#" %></li>
					<li><%= link_to "食品行业", "#" %></li>
					<li><%= link_to "化工行业", "#" %></li>

				</ul>
			</div>

		</div>
	</div>
</div>
<div class="footer-tese">
	<div class="tese container">
		<%= image_tag("logo/tese.png", alt: "tese") %>
	</div>
</div>
		<div class="footer-link footer">
			<div class="container">
				<ul>
					<li><%= link_to "关于我们", abouts_path %></li>
					<li><%= link_to "站点地图", "#" %></li>
					<li><%= link_to "友情链接", "#" %></li>
					<li><%= link_to "帮助中心", "#" %></li>
					<li><%= link_to "条款和条例", "#" %></li>
					<li><%= link_to "联系我们", "#" %></li>
				</ul>
		</div>
	</div>
	</div>
	<div class="category-list">
		<div class="container">
			<div class="list-tag">
				<h5>产品关键字:</h5>
				<% Category.all.each do |cate| %>
					<span><%=  link_to cate.name, category_path(cate.id) %></span>	
					<% cate.tags.each do |tag| %>
						<span><%= link_to tag.name, products_path(t:tag) %></span>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
		<div class="footer-bottom">
			<div class="container">
			<span>版权所有：上海罗倍拓工业设备有限公司 高空作业平台 适用于中国客户的内容设计</span><br />
			<span>地址：上海漕河泾开发区松江高科技园区</span><br />
			<span>全国服务热线：4008-8826-918</span><br />
			<span>法律通告,隐私条款 沪ICP备11004282号</span>
		</div>
	</div>
</div>
