<div class="footer">
	<div class="container">
		<div class="footer-center">
			<span>
				<%= image_tag("logo/sixicon.png", class: "sixicon") %>
			</span>
			<span class="line-center">
			</span>
			<div class="list-nav">
				<h4>产品中心</h4>
				<ul>
					<% Category.all.each do |cate| %>
						<li><%= link_to cate.name, category_path(cate.id) %></li>
					<% end %>
				</ul>
			</div>
			<div class="list-nav">
				<h4>采购指南</h4>
				<ul>
					<% List.all.each do |list| %>
						<li><%= link_to list.title, list_path(list) %></li>
					<% end %>
					</ul>
				</div>
				<div class="list-nav">
				<h4>支付方式</h4>
				<ul>
					<% Payment.all.each do |payment| %>
					<li><%= link_to payment.title, payment_path(payment.id) %></li>
				<% end %>
				</ul>
			</div>
			<div class="list-nav">
				<h4>配送服务</h4>
				<ul>
					<% Ship.all.each do |ship| %>
					<li><%= link_to ship.title, ship_path(ship.id) %></li>
				<% end %>
				</ul>
			</div>
			<div class="list-nav">
				<h4>售后服务</h4>
				<ul>
					<% Aftermarket.all.each do |after| %>
					<li><%= link_to after.title, aftermarket_path(after.id) %></li>
				<% end %>
				</ul>
			</div>
			<div class="list-nav">
				<h4>项目案例</h4>
				<ul>
					<% Item.all.each do |item| %>
					<li><%= link_to item.title, item_path(item.id) %></li>
						<% end %>
				</ul>
			</div>

		</div>
	</div>
</div>
<div class="footer-tese">
	<div class="tese container">
		<%= image_tag("logo/tese.png", alt: "tese") %>
	</div>
</div>
		<div class="footer-link footer">
			<div class="container">
				<ul>
					<% About.limit(1).each do |about| %>
						<li><%= link_to "关于我们", about_path(about.id) %></li>
					<% end %>
					<li><%= link_to "站点地图", sitemap_path %></li>
					<li><%= link_to "友情链接", link_path %></li>
					<% Center.offset(3).each do |center| %>
						<li><%= link_to "帮助中心", center_path(center.id) %></li>
					<% end %>
					<% Center.limit(1).each do |center| %>
						<li><%= link_to "条款和条例", center_path(center.id) %></li>
					<% end %>
					<% Contact.limit(1).each do |contact| %>
						<li><%= link_to "联系我们", contact_path(contact.id) %></li>
					<% end %>
				</ul>
		</div>
	</div>
	</div>
	<div class="category-list">
		<div class="container">
			<div class="list-tag">
				<h5>产品关键字:</h5>
				<% Category.all.each do |cate| %>
					<span><%=  link_to cate.name, category_path(cate.id) %></span>	
					<% cate.tags.each do |tag| %>
						<span><%= link_to tag.name, products_path(t:tag) %></span>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
		<div class="footer-bottom">
			<div class="container">
			<span>版权所有：力形(上海)自动化科技有限公司 工业设备 适用于中国客户的内容设计</span><br />
			<span>地址：上海漕河泾开发区松江高科技园区38号1FA区</span><br />
			<span>全国服务热线：4008-373-288</span><br />
			<span>法律通告,隐私条款 沪ICP备14002956</span>
		</div>
	</div>
</div>
