<div class="top-index">
	<div class="index-top">
		<ul>
			<li><a href="#">收藏</a><span class="line-top"></span></li>
			<% if current_user %>
				<li><%= link_to "注销", destroy_user_session_path, method: :delete %><span class="line-top"></span></li>
				<li><%= link_to current_user.email, "#" %></li>
			<% else %>
				<li><%= link_to "登录", new_session_path(:user) %><span class="line-top"></span></li>
				<li><%= link_to "注册", new_registration_path(:user) %></li>
			<% end %>
			<li class="lange">
			<div class="set_locale">
				<%= form_tag root_path, class: 'locale' do %>
					<%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s),
						onchange: 'this.form.submit()' %>
						<%= javascript_tag "$$('.locale input').each(Element.hide)" %>
					<% end %>
				</div>

				</li>
			</ul>
		</div>
	</div>
	<div class="logo-index">
		<div class="logo-index1">
			<div class="position-logo">
				<span class="logo-image"><a href="/"><%=image_tag "logo/logo.png", alt: "yolift" %></a></span>
				<span class="line">
				</span>
				<div class="phone">
					<img src="/assets/logo/phone.png" alt="phone"/>
					<img src="/assets/logo/phonenumber.png" alt="400-8826-918"/><br />
					<span class="desc-logo">高空作业、物料搬运设备领导者</span>
				</div>
				<div class="node-text">
					<div class="text-image">
						<img src="/assets/logo/4.png"/>
					</div>
					<div class="text">
						<b>
							增值税发票</b>	
						<p class="text1">
						可提供增值税专用发票
						</p>
					</div>
				</div>
				<div class="node-text">
					<div class="text-image">
						<img src="/assets/logo/4.png"/>
					</div>
					<div class="text">
						<b>
							增值税发票</b>	
						<p class="text1">
						可提供增值税专用发票
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
		<div class="nav-list">
			<%= render 'home/navbar_list' %>
		</div>
	</div>
	</div>

