<div class="top-index">
	<div class="index-top">
		<ul>
			<li><a href="#">收藏</a><span class="line-top"></span></li>
			<% if current_user %>
				<li><%= link_to "注销", destroy_user_session_path, method: :delete %><span class="line-top"></span></li>
				<li><%= link_to current_user.email, "#" %></li>
			<% else %>
				<li><%= link_to "登录", new_session_path(:user) %><span class="line-top"></span></li>
				<li><%= link_to "注册", new_registration_path(:user) %></li>
			<% end %>
			<li class="lange">
			<div class="set_locale">
				<%= link_to "中文版", controller: controller.controller_name,
					action: controller.action_name, locale: "zh-CN" %>
					<%= link_to "English", controller: controller.controller_name, 
						action: controller.action_name, locale: "en" %>
				</div>

				</li>
			</ul>
		</div>
	</div>
	<div class="logo-index">
		<div class="logo-index1">
			<div class="position-logo">
				<span class="logo-image"><a href="/"><%=image_tag "logo/logo.png", alt: "yolift" %></a></span>
							<div class="phone">
									<img src="/assets/logo/phonenumber.png" alt="400-8826-918"/>
								</div>
				<div class="node-text">
					<%= image_tag("logo/icon.png") %>
					<br />
					<%= image_tag("logo/text.png",alt: "text",class: "node1-text") %>
												</div>
						</div>
		</div>
		<div class="container">
		<div class="nav-list">
			<%= render 'home/navbar_list' %>
		</div>
	</div>
	</div>

