<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= full_title(yield(:title)) %></title>
		<meta name="keywords" content="高空作业平台, 搬运设备">
		<meta name="description" content="力形(上海)自动化科技有限公司，工业设备专家">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/assets/responsive/bootstrap-responsive.min.css" rel="stylesheet">-->
		<%= stylesheet_link_tag  "bootstrap/bootstrap.min","customer/customer","customer/test"%>
		<%= javascript_include_tag "application", "js/bootstrap.min", "js/customer"%>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>	
	</head>
	<body>
		<%= render 'layouts/temple' %>
			<div class="container">
	<% unless notice.nil? && alert.nil? %>
		<div class="alert">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			<p><%= notice %> <%= alert %></p>
		</div>
	<% end %>

			<%= yield %>
		</div>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
	</body>
	<%= render 'layouts/javascript_shim' %>	
	<%= render 'layouts/google' %>
	 </html>
