<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-with, initial-scale=1"/>
		<title>力形科技</title>
		<%= stylesheet_link_tag "mobile"%>
		<%= javascript_include_tag "mobile"%>
		<%= csrf_meta_tags %>
</head>
<body>
<ul class="mobile-group">
<% if request.path != root_path %>
	<li class="btn"><%= link_to :back do %>
	<i class="icon-chevron-left"></i>
	返回
<% end %>
	</li>
<% else %>	
	<li><b class="btn">力形科技</b>
	</li>
	<% end %>
		<li class="dropdown">
		<a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th-large"></i><b>分类</b></a>
		<ul class="dropdown-menu">
		 <% Category.all.each do |cate| %>
			 <li>
			 <%= link_to category_path(cate) do  %>
				<%= cate.name %>
			<% end %>
			 </li>
															<% end %>
																			 </ul>
		 </li>

<li class="search-form">
<form action="/search" method="get" class="pull-right">
<input type="text" name="q" value="" class="search-query" placeholder="输入名称和货号">
</form>
</li>

</ul>

<div class="content-page">
<% unless notice.nil? && alert.nil? %>
	<div class="alert">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
	<p><%= notice %> <%= alert %></p>
	</div>
<% end %>

<%= yield %>
</div>
<div class="copy_right">
<span>
&copy; 力形(上海)自动化科技公司 版权所有
</span><br >
<span>
法律通告,隐私条款 沪ICP备14027882号
</span>
</div>
<footer>
<ul class="mobile-phone">
<%= link_to root_path do %>
	<li>		<i class="icon-home"></i>首页</li>
	<% end %>
	<a href="tel: 400-837-3288"><li><i class="icon-signal"></i>电话咨询</li></a>
	<a target= "_blank" href="http://webim.qiao.baidu.com/im/gateway?siteid=4554097&siteidstr=258ce2c169d214905ef32e5c177564af&mainid=120454609&csNameType=2&csName=在线客服&userName=sh力形&groupName=在线咨询"><li><i class="icon-user"></i>在线咨询</li></a>
<%= link_to cart_path do %>
	<li><i class="icon-shopping-cart"></i>购物车<%= @cart.total_items %></li>
<% end %> 
</ul>
</footer>
</body>

</html>

